/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */


/* document-specific styles come next */
SPAN.itshape		{   }
PRE.preform		{   }
DIV.quote		{   }
DIV.center		{   }
DIV.flushright		{   }
DIV.navigation		{   }
SPAN.textbf		{ font-weight: bold  }
SPAN.roman		{   }
SPAN.textsf		{ font-style: italic  }
SPAN.arabic		{   }
SPAN.textit		{ font-style: italic  }


body {
	margin-left: 10%;
	margin-right: 10%;
}

body, ul, p {
    font-family:  Lato, Helvetica, Arial, sans-serif;
    font-size:  18px;
    line-height: 1.5;
    font-weight: 400;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
}

blockquote, pre {
	margin-left: 10%;
	margin-right: 10%;
	background-color: #F0f0f0;
}

pre {
	font-size: 16px;
}

DIV.navigation {
    background-color: #466E7A;
    color: #D0D0D0;
}

DIV.navigation A:hover {
	text-decoration: underline;
}


DIV.navigation A {
	color: #fdfdfd;
	text-decoration: none;
}

ul li A {
	text-decoration: none;
}

ul li A:hover {
	text-decoration: underline;
}


.ChildLinks li A {
	text-decoration: none;
}

.ChildLinks li A:hover {
	text-decoration: underline;
}
